@font-face {
  font-family: 'code';
  src: url('../font/Source Code Pro.ttf') format('truetype');
}

body
{
	background-color:#21252b;
	font-family: "code";
	color: white;
    font-size: 13px;
}

.input_container
{
	width: 100%;
	position: fixed;
	top: 0px;
	padding: 10px 0px;
	background-color: #21252b;
	z-index: 9;
	box-shadow: 6px 4px 11px #21252b;
}

.input
{
	font-family: "code";
	border: none;
	width: 100%;
	outline: none;
	color: white;
	background-color: #21252b;
	box-shadow: 
}

.output_container
{
	margin-top: 26px;
	position: absolute;
}

.output
{
	display: block;
	margin: 10px;
}