/*
* Main Tags
**/
@font-face {
    font-family: 'segoe';
    src: url(../fonts/segoeuil.ttf) format("truetype")
}
body
{
	padding : 0px;
	margin : 0px;
	font-family: "segoe";
	background-color:white;
	color: #292929 !important;
}


/*
* Classes
**/
.vnl-config-pargraph {
    color: #292929;
    margin-bottom: 10px;
}

.hello_button_hover {
    background-color: #fa8224;
    color: #fff;
    outline: none
}

.hello_button_hover:hover
{
    background-color: #e86705;
    color: #fff;
}

.vnl_config_icon {
    width: 224px;
    margin: 0 auto;
    display: block;
    margin-bottom: 25px;
    height: 85px;
    background: url(../images/name.png);
    background-size: cover
}

.form-control:focus
{
	border-color: #fa8831 !important;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(250,137,50,.6) !important;
}

.vnl-config-label {
    display: inline-block;
    vertical-align: top;
    text-align: right;
    margin-top: 5px;
    color: #292929;
}

.hello_button {
    background-color: #ee6a05;
    color: #fff;
    transition: all 150ms ease-in;
    outline: none
}
.hello_button:hover {
    background-color: #3c3c3c;
    color: #fff;
    outline: none
}

.final_link {
    bottom: 0;
    display: block;
    position: absolute;
    width: 300px;
    padding: 10px;
    padding-right: 25px;
    font-size: 15px;
    font-weight: bold;
    color: #212121;
}


#welcom {
    /*opacity: 0;*/
    color: #212121;
    text-align: center;
    width: 600px;
    margin: 10px auto;
}

#welcom > .text {
    display: inline-block;
    z-index: 3;
    font-size: 18px;
}

.final_link_owner_a {
    text-decoration: none;
    color: #212121;
}
.final_link_owner_a:hover {
    color: #ee6a05;
    text-decoration: none;
}

.vnl-config-cont {
    width: 800px;
    margin: 0 auto
}
.vnl-config-text {
    width: 600px;
    margin: 0 auto
}

.vnl-config-form {
    color: #fff;
    text-align: center;
    margin: 0 auto
}

/* Switches */


.switch {
    position: relative;
    width: 31px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    margin-top: 9px;
}
.switch-checkbox {
    display: none;
}
.switch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    height: 16px;
    padding: 0;
    line-height: 16px;
    border: 2px solid #CCCCCC;
    border-radius: 16px;
    background-color: #CCCCCC;
    transition: background-color 0.3s ease-in;
}
.switch-label:before {
    content: "";
    display: block;
    width: 16px;
    margin: 0px;
    background: #FFFFFF;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 17px;
    border: 2px solid #CCCCCC;
    border-radius: 16px;
    transition: all 0.3s ease-in 0s;
}
.switch-checkbox:checked + .switch-label-blue {
    background-color: #058cbc;
}
.switch-checkbox:checked + .switch-label-blue,
.switch-checkbox:checked + .switch-label-blue:before {
    border-color: #058cbc;
}
.switch-checkbox:checked + .switch-label-violet {
    background-color: #ee6a05;
}
.switch-checkbox:checked + .switch-label-violet,
.switch-checkbox:checked + .switch-label-violet:before {
    border-color: #ee6a05;
}
.switch-checkbox:checked + .switch-label-deeppink {
    background-color: #bf0346;
}
.switch-checkbox:checked + .switch-label-deeppink,
.switch-checkbox:checked + .switch-label-deeppink:before {
    border-color: #bf0346;
}
.switch-checkbox:checked + .switch-label:before {
    right: 0px;
}