/*
* Main Tags
**/
@font-face {
    font-family: 'segoe';
    src: url(../fonts/segoeuil.ttf) format("truetype")
}
body
{
	padding : 0px;
	margin : 0px;
	font-family: "segoe";
	background-color:white;
	color: #292929 !important;
}


/*
* Classes
**/
.vnl-config-pargraph {
    color: #292929;
    margin-bottom: 10px;
}

.hello_button_hover {
    background-color: #fa8224;
    color: #fff;
    outline: none
}

.hello_button_hover:hover
{
    background-color: #e86705;
    color: #fff;
}

.vnl_config_icon {
    width: 224px;
    margin: 0 auto;
    display: block;
    margin-bottom: 25px;
    height: 85px;
    background: url(../images/name.png);
    background-size: cover
}

.form-control:focus
{
	border-color: #fa8831 !important;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(250,137,50,.6) !important;
}

.vnl-config-label {
    display: inline-block;
    vertical-align: top;
    text-align: right;
    margin-top: 5px;
    color: #292929;
}

.hello_button {
    background-color: #ee6a05;
    color: #fff;
    transition: all 150ms ease-in;
    outline: none
}
.hello_button:hover {
    background-color: #3c3c3c;
    color: #fff;
    outline: none
}

.final_link {
    bottom: 0;
    display: block;
    position: absolute;
    width: 300px;
    padding: 10px;
    padding-right: 25px;
    font-size: 15px;
    font-weight: bold;
    color: #212121;
}


#welcom {
    /*opacity: 0;*/
    color: #212121;
    text-align: center;
    width: 600px;
    margin: 10px auto;
}

#welcom > .text {
    display: inline-block;
    z-index: 3;
    font-size: 18px;
}

.final_link_owner_a {
    text-decoration: none;
    color: #212121;
}
.final_link_owner_a:hover {
    color: #ee6a05;
    text-decoration: none;
}
/* Switches */